{
	"presets": [["env", { "modules": false }], "react"],
	"env": {
        "server": {
            "plugins": [
                [
                    "css-modules-transform", {
                        "generateScopedName": "[local]__[hash:6]",
                        "extensions": [".css"]
                    }
                ]
            ]
        }
    }
}